@{
	ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This application is designed to test new recruits to to the First Galactic Empire, Software Engineering division.</p>

<br />

<p>Click <a asp-area="" asp-controller="Home" asp-action="Privacy">here</a> to view the privacy policy</p>
<p>Click <a asp-area="" asp-controller="Deployment" asp-action="Migrate">here</a> to run migrations</p>
<p>Click <a asp-area="" asp-controller="Deployment" asp-action="Clean">here</a> to clean migrations</p>


